html {
    font-size: 18px;

    body {
        background-color: black;
        color: white;
        margin: 0 auto;
        font-family: "Neue Montreal", serif;
        font-size: 18px;
        font-feature-settings: "ss02";
    }
}
